form {
    transform: scale(0.9);
    width: 40em;
    border: #7116F2 solid;
    border-radius: 20px;
    position: relative;
    display: block;
    padding: 20px 20px;
    margin: 0 auto;
    margin-bottom: 10em;
    color: #ffffff;

}


form:hover{
    border: blue solid;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
    border-radius: 25px;
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 100%;
}

.checkbox {
	margin: 20px 0;
}

.enviar{
	padding: 15px 0px;
	width: 80%;
    position:relative;
    display: flex;
    justify-content: center;
	background-color: #7116F2;
	color: white;
	font-weight: bold;

	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover{
	transform: scale(1.01);
	background-color: red;
}

@media (max-width: 600px){
    form {
        width: 20em;
    }
}