
@media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }
  
  :target {
    scroll-margin-top: .8em;
  }

.logo {
    width: 50%;
}

nav {
    background-color: transparent;
}

.prodigy-logo{
    width: 50%;
    position: relative;
    margin-top: 50px;
    margin-bottom: 40px;
}

.prodigy {
    width: 50%;
}
.nav-btn {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    text-transform: uppercase;
}

.nav-btn:hover {
    color: white;
    border-bottom: 5px solid rgb(39, 113, 224);
    transition: 0.3s;
}

ul > li {
    margin-top: 15px;
    display: inline-block;
}

#prodigy-title{
    margin-top: 50px;
}

.cpu-video {
    width: 100%;
}

.title-hr {
    color: #7116F2;
    border-bottom: 1px solid #7116F2;
}

h5 {
    color: white;
}
.title {
    text-transform: uppercase;
    font-size: 100px;
    color: white;
}

.sub-title {
    text-transform: uppercase;
    font-size: 50px;
    color: white;
}

.lateral-prodigy {
    position: absolute;
    left: 10px;
    width: 70px;
    top: 125px;
}
.processador-title{
    text-transform: uppercase;
}

p {
    color: white;
}

span {
    color: white;
}

.inicio {
    padding: 20px;
    background-color: black;
    background-size: cover;
    text-align: center;
    width: auto;
    height: 20%;
}

footer {
    background-color: #7116F2;
    height: 300px;
    width: 100%;
    color: #c9c9c9;
    bottom: 0;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

.anime {
    opacity: 0;
    transform: translate3d(-100px,0,0);
    transition: .3s;
}

.modal {
    background-color: rgb(0, 0, 0,0.7);
    color: black;
}

.modal-body {
    background-color: transparent;
    color: black;
}

.modal-title {
    background-color: transparent;
    color: black;
}

.modal-footer {
    background-color: transparent;
    color: black;
}

.btn-close:hover {
    color: #7116F2;
    background-color: #7116F2;
}
.anime-start {
    opacity: 1;
    transform: translate3d(0,0,0);
}

#menu{
    transition: .5s;
 }

 @media (max-width: 1500px) {
    .lateral-prodigy {
        display: none;
    }
 }

 